<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.newhead.balabala.modules.balabalacampus.base.repository.entity.BalabalaCampus"/>
        <package name="com.newhead.balabala.modules.balabalaclass.base.repository.entity.BalabalaClass"/>
        <package name="com.newhead.balabala.modules.balabalaclasslesson.base.repository.entity.BalabalaClassLesson"/>
        <package name="com.newhead.balabala.modules.balabalaclassmember.base.repository.entity.BalabalaClassMember"/>
        <package name="com.newhead.balabala.modules.balabalacourse.base.repository.entity.BalabalaCourse"/>
        <package name="com.newhead.balabala.modules.balabalacoursecategory.base.repository.entity.BalabalaCourseCategory"/>
        <package name="com.newhead.balabala.modules.balabalamember.base.repository.entity.BalabalaMember"/>
        <package name="com.newhead.balabala.modules.balabalamemberpassport.base.repository.entity.BalabalaMemberPassport"/>
        <package name="com.newhead.balabala.modules.balabalaregion.base.repository.entity.BalabalaRegion"/>
        <package name="com.newhead.balabala.modules.balabalateacher.base.repository.entity.BalabalaTeacher"/>
        <package name="com.newhead.balabala.modules.balabalamemberlesson.base.repository.entity.BalabalaMemberLesson"/>
        <package name="com.newhead.balabala.modules.balabalamembercomment.base.repository.entity.BalabalaMemberComment"/>
        <package name="com.newhead.balabala.modules.balabalatextbook.base.repository.entity.BalabalaTextbook"/>
        <package name="com.newhead.balabala.modules.balabalatextbookcategory.base.repository.entity.BalabalaTextbookCategory"/>
        <package name="com.newhead.balabala.modules.balabalateacherhomework.base.repository.entity.BalabalaTeacherHomework"/>
        <package name="com.newhead.balabala.modules.balabalateacherhomeworkitem.base.repository.entity.BalabalaTeacherHomeworkItem"/>
        <package name="com.newhead.balabala.modules.balabalamemberhomework.base.repository.entity.BalabalaMemberHomework"/>
        <package name="com.newhead.balabala.modules.balabalamemberhomeworkitem.base.repository.entity.BalabalaMemberHomeworkItem"/>
        <package name="com.newhead.rudderframework.modules.ruddermenu.base.repository.entity.RudderMenu"/>
        <package name="com.newhead.rudderframework.modules.rudderpermission.base.repository.entity.RudderPermission"/>
        <package name="com.newhead.rudderframework.modules.rudderrole.base.repository.entity.RudderRole"/>
        <package name="com.newhead.rudderframework.modules.rudderrole2permission.base.repository.entity.RudderRole2permission"/>
        <package name="com.newhead.rudderframework.modules.rudderuser.base.repository.entity.RudderUser"/>
        <package name="com.newhead.rudderframework.modules.rudderuser2role.base.repository.entity.RudderUser2role"/>
    </typeAliases>
    <mappers>
         <mapper resource="com/newhead/balabala/modules/balabalacampus/base/repository/entity/BalabalaCampusMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalaclass/base/repository/entity/BalabalaClassMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalaclasslesson/base/repository/entity/BalabalaClassLessonMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalaclassmember/base/repository/entity/BalabalaClassMemberMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalacourse/base/repository/entity/BalabalaCourseMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalacoursecategory/base/repository/entity/BalabalaCourseCategoryMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamember/base/repository/entity/BalabalaMemberMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamemberpassport/base/repository/entity/BalabalaMemberPassportMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalaregion/base/repository/entity/BalabalaRegionMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalateacher/base/repository/entity/BalabalaTeacherMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamemberlesson/base/repository/entity/BalabalaMemberLessonMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamembercomment/base/repository/entity/BalabalaMemberCommentMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalatextbook/base/repository/entity/BalabalaTextbookMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalatextbookcategory/base/repository/entity/BalabalaTextbookCategoryMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalateacherhomework/base/repository/entity/BalabalaTeacherHomeworkMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalateacherhomeworkitem/base/repository/entity/BalabalaTeacherHomeworkItemMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamemberhomework/base/repository/entity/BalabalaMemberHomeworkMapper.xml"/>
         <mapper resource="com/newhead/balabala/modules/balabalamemberhomeworkitem/base/repository/entity/BalabalaMemberHomeworkItemMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/ruddermenu/base/repository/entity/RudderMenuMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/rudderpermission/base/repository/entity/RudderPermissionMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/rudderrole/base/repository/entity/RudderRoleMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/rudderrole2permission/base/repository/entity/RudderRole2permissionMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/rudderuser/base/repository/entity/RudderUserMapper.xml"/>
         <mapper resource="com/newhead/rudderframework/modules/rudderuser2role/base/repository/entity/RudderUser2roleMapper.xml"/>
    </mappers>
</configuration>
